
<h1 translate="SIGN_IN.PAGE_TITLE"></h1>
<button ng-click="$ctrl.changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
<button ng-click="$ctrl.changeLanguage('en')" translate="BUTTON_LANG_EN"></button>

<div>
  <label>{{'SIGN_IN.USERNAME_FIELD_LABEL' | translate}}</label>
  <input translate-attr="{placeholder: 'SIGN_IN.USERNAME_FIELD_LABEL'}"/>
  <br/><br/>
  <label>{{'SIGN_IN.PASSWORD_FIELD_LABEL' | translate}}</label>
  <input translate-attr="{placeholder: 'SIGN_IN.PASSWORD_FIELD_LABEL'}"/>
</div>
<br/>
<button translate="SIGN_IN.FORGOT_PASSWORD"></button>
<br/><br/>
<hr/>

